name: build packages (kernel etc.) and push to the cache

on:
  push:
    branches:
      - 'main'
      - 'ci-test'
  schedule:
    - cron: "0 6 * * *"

jobs:
  packages:
    runs-on: namespace-profile-large-arm64
    continue-on-error: true
    strategy: &strategy
      # avoid building things twice if nixos-unstable and master contain the same derivations
      max-parallel: 1
      matrix:
        nixpkgs-override:
          - "--argstr nixos-release nixos-unstable"
          - "--argstr nixos-release nixos-unstable-small"
          - "--argstr nixos-release nixos-stable"
          - "--argstr nixos-release nixpkgs"
        event_name:
          - "${{ github.event_name }}"
        exclude:
          - nixpkgs-override: ""
            event_name: schedule
    steps: &steps
    - name: Checkout repository
      uses: actions/checkout@v6
    - uses: namespacelabs/nscloud-cache-action@v1
      with:
        path: ~/.cache/nix
    - name: Install nix
      uses: cachix/install-nix-action@v31
      with:
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    - uses: cachix/cachix-action@v16
      with:
        name: nixos-apple-silicon
        authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
    - name: Build nix packages
      run: |
        nix-shell -p npins --run "npins update"
        nix-shell -p nix-eval-jobs --run "nix-eval-jobs ${{ matrix.nixpkgs-override }} --force-recurse default.nix

  # Also populate the cache for cross-compilation from x86_64 case
  # Do this as a separate matrix job, so that the max-parallel applies per architecture
  packages-cross:
    runs-on: namespace-profile-large-x86
    continue-on-error: true
    strategy: *strategy
    steps: *steps
