name: build bootstrap installer

on:
  push:
    tags:
      - 'release-*'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v5

      - uses: cachix/install-nix-action@v31

      - name: prepare kernel build
        run: |
          # download everything necessary for the kernel without building. this
          # will fail since -j0 will keep any jobs from running so we force it
          # to succeed. if it did fail a later step should retry/catch it.
          nix-build -j0 --log-format bar-with-logs -A installer-bootstrap.config.system.build.kernel || true

          # download the kernel source (not in cache so it's a build and wasn't done above)
          nix-build -j1 --log-format bar-with-logs -A installer-bootstrap.config.system.build.kernel.src -o kernel-src

          # build the kernel config file here especially as it's spammy
          nix-build -j1 --log-format bar-with-logs -A installer-bootstrap.config.system.build.kernel.configfile -o kernel-config

      - name: build kernel
        run: |
          # actually build the kernel, takes ~2h and a lot of disk space
          nix-build -j1 --log-format bar-with-logs -A installer-bootstrap.config.system.build.kernel -o kernel

      - name: clean up kernel build
        run: |
          # delete kernel source, saves 1-2GB
          KERNEL_SRC=$(readlink -f kernel-src)
          rm kernel-src
          nix-store --delete $KERNEL_SRC

      - name: build installer
        run: |
          # rest of the installer is downloaded and agglomerated and a few minor things are built
          nix-build -j2 --log-format bar-with-logs -A installer-bootstrap

          INSTALLER_DEST=$(basename result/iso/*.iso | sed 's:aarch64-linux:apple-silicon-${{ github.ref_name }}:' | tr '/' '-')
          echo installer dest: "$INSTALLER_DEST"
          cp result/iso/*.iso "$INSTALLER_DEST"

      - uses: actions/upload-artifact@v5
        with:
          name: installer
          path: ./*.iso

      - uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ./*.iso
