name: lint

on:
  pull_request:
jobs:
  linters:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31

      - name: Check formatting
        run: nix-shell --run "treefmt --ci"

      - name: Check derivations (do not build)
        run: nix-instantiate -A packages -A installer-bootstrap
